absl-py==0.6.1
astor==0.7.1
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
blessings==1.7
decorator==4.3.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
gpustat==0.5.0
grpcio==1.17.1
h5py==2.8.0
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
mock==2.0.0
nltk==3.4.5
numpy==1.15.4
pandas==0.23.4
pathlib2==2.3.2
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prompt-toolkit==1.0.15
protobuf==3.6.1
psutil==5.5.1
ptyprocess==0.6.0
Pygments==2.2.0
python-dateutil==2.7.5
pytz==2018.7
scandir==1.9.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
tensorboard==1.12.1
tensorboardX==1.4
tensorflow==1.12.0
termcolor==1.1.0
torch==1.0.1.post2
torchvision==0.2.1
tqdm==4.28.1
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.14.1
